* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}
.hole{
    background-color: #f8f9fa;
}

.hole h1 {
    display: flex;
    justify-content: center;
    color: #336699;
}


.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.carousel-control-prev{
    margin-left: 20%;
}

.carousel-control-next{
    margin-right: 20%;
}

.description {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 70px;
}

.nav{
    background-color: white;
    box-shadow:0 4px 15px rgba(0,0,0,0.5);
}

.left {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.right {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.right button {
    width: 100%;
    background-color: #0E9C39;
    padding: 1.5px;
    margin-bottom: 2%;
}

.left button {
    width: 100%;
    background-color: #0E9C39;
    padding: 1.5px;
    margin-bottom: 2%;
}


.whole {
    margin-top: 2%;
}

.whole img {
    height: 35px;
    width: 35px;
}

.whole p {
    text-align: justify;
}

.whole h3 {
    color: #336699;
    margin: 0;
}

.summary {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.summary img{
    margin: 0;
}

.flights {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow:0 4px 15px rgba(0,0,0,0.5);
    transition: transform 0.3s ease,
                border-color 0.3s ease,
                background-color 0.3s ease;
    border: 2px solid transparent;
}

.flights:hover{
    transform: translateY(-8px);
    border-color: #336699;
    background-color: rgb(236, 233, 233);
}

.flights p{
    margin: 0;
}

.hotels {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow:0 4px 15px rgba(0,0,0,0.5);
    transition: transform 0.3s ease,
                border-color 0.3s ease,
                background-color 0.3s ease;
    border: 2px solid transparent;
}

.hotels:hover{
    transform: translateY(-8px);
    border-color: #336699;
    background-color: rgb(236, 233, 233);
}

.hotels p{
    margin: 0;
}

.bookNowDiv{
    margin-top: 5%;
}

.bookNowDiv button{
    background-color: white;
    border: 1px solid rgb(95, 89, 89);
    padding: 8px;
    transition: transform 0.3s ease,
                background-color 0.3s ease,
                box-shadow 0.3s ease;
}

.bookNowDiv button:hover{
    transform: translateY(-8px);
    background-color: rgb(236, 226, 226);
    box-shadow:0 4px 15px rgba(0,0,0,0.5);
}


.summaryChoices{
    padding: 10px;
    border-left: 5px solid #336699;
    border-radius: 1rem;
    box-shadow:0 4px 15px rgba(0,0,0,0.5);
}

.summaryChoices div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2%;
}

.summaryChoices img {
    margin: 0;
}

.summaryChoices p {
    margin-bottom: 0;
    font-weight: 600;
}

.informations {
    margin-left: 3%;
    margin-top: 2%;
}

.accommodation img {
    margin: 0;
}

.accommodation {
    display: flex;
    align-items: center;
    gap: 10px;
}

.accommodation p {
    width: 20%;
}

.guarantee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
    box-shadow:0 4px 15px rgba(0,0,0,0.5);
    padding: 2rem;
    border-radius: 1rem;
}

.guarantee img {
    margin: 0;
}

.guarantee div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.guaranteeDice {
    border: solid 2px #336699;
    border-radius: 1rem;
    margin: 3%;
    padding: 2%;
    width: 50%;
    margin: 30px auto;
}

.guaranteeDice .guaranteeDiceItem {
    margin-top: 1%;
}

.guaranteeDice img {
    margin: 0;
    height: 35px;
    width: 35px;
}

.guaranteeDice {
    display: flex;
    flex-direction: column;
}

.guaranteeDiceItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    background-color: #d3d8dbfb ;
    border-radius: 1rem;
    margin-bottom: 1rem;
    transition: transform 0.3s ease,
                box-shadow 0.3s ease;
}

.guaranteeDiceItem:hover{
    transform: translateY(-8px);
    box-shadow:0 4px 15px rgba(0,0,0,0.5);
}

.guaranteeDiceItem p{
    margin-bottom: 0px;
    margin-left: 0.5rem;
    font-weight: 650;
}


.attractions img {
    margin: 0;
}

.attractions{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.attractions .card{
    margin: 3% auto; 
    border-radius: 1.5rem;
}

.grayLine{
    width: 100%;
    padding: 1px;
    background-color: rgb(214, 212, 212);
    display: flex;
    justify-content: center;
    margin: 0 auto;
}





/* button */

/* From Uiverse.io by cssbuttons-io */

.divBtn{
    display: flex;
    justify-content: center;
}

.divBtn button {
    --color: #336699;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}

.divBtn button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.divBtn button:hover {
    color: #fff;
}

.divBtn button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}

.divBtn button:hover:before {
    top: -30px;
    left: -30px;
}

.divBtn button:active:before {
    background: #336699;
    transition: background 0s;
}

.footers{
    background-color: #336699;
}

.selectorLogos{
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    margin-bottom: 1%;
}

.selectorLogos li{
    margin-top: 2%;
    list-style-type: none;
}

.selectorLogos p{
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    margin: 0;
}

.texts p{
    margin: 0;
    margin-left: 2%;
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
}

.texts h4{
    margin-left: 2%;
    font-weight: bold;
}

.travels {
    display: flex;
    margin-bottom: 3%;
}

.contact{
    margin-left: 40%;
}

.contact p{
    margin: 0;
    margin-left: 2%;
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact h4{
    margin-left: 2%;
    font-weight: bold;
}

.footerBtn{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    padding: 2px;
    background-color: #000D5E;
}

.last{
    margin-top: 3%;
}


