.hero-slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
      font-family: "Open Sans", sans-serif;
}

.hero-slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease, transform 6s ease;
}

/* aktív slide */
.hero-slide.active {
  opacity: 1;
}

/* sötét overlay */
.hero-slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
}

/* tartalom */
.hero-overlay {
  position: relative;
  z-index: 2;
  color: white;
  top: 10%;
  margin-left: 3%;
  max-width: 500px;
}

.dropdown{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 3rem;
  color: black;
  font-size: 2rem;
  font-weight: 650;
  font-style: italic; 
  margin-top: -10%;
}
.dropdown a{ 
  padding: 1rem;
  background-color: transparent;
}

.buttons {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

button {
  padding: 12px 18px;
  border: none;
  background: white;
  color: black;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 600;
}

button.secondary {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.slide-text1{
  position: relative;
  margin-left: 70%;
  margin-top: -20%;
  font-size: clamp(0.2rem, 3vw, 2rem);
  color: white;
  font-style: italic;
}

.slide-text2{
  position: relative;
  margin-top: 70%;
  font-size: clamp(0.2rem, 3vw, 2rem);
  gap: 30px;
}


@media (max-width: 768px) {
  .dropdown {
    margin-top: -10%;
  }
  .dropdown img{
    height: 3rem;
  }
  .dropdown p{
    font-size: 1.5rem;
  }

}


@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(-40%);
  }
  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}
