* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

.cart {
    background-color: rgb(244, 244, 244);
    min-height: 100%;
    width: 100vw;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.signUpLog {
    margin: 1%;
}

.signUpLog, img {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-weight: lighter;
    color: black;
    font-style: italic;
    font-weight: 650;
    font-size: 2rem;
    margin-bottom: 3px;
}

.cartNavbar {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.cartNavbar button {
    border: 1px solid;
    margin: 0 1%;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.foot {
    background-color: white;
    padding: 3rem;
    width: 60%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.foot h2 {
    display: flex;
    justify-content: center;
    color: #336699;
    font-weight: bold;
}

.Cartfooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 1rem 0;
    background-color: rgb(244, 244, 244);
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 1rem;
}

.Cartfooter li {
    list-style-type: none;
    font-weight: bolder;
}

.Cartfooter ul {
    list-style-type: none;
}

.details {
    display: flex;
    justify-content: center;
    margin: 3rem auto;
}

.paymentDt {
    background-color: #C5C7BC;
    border-radius: 18px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    width: 450px;
    padding: 30px;
    transition: transform 0.3s ease;
}

.adat,
#kartyaSzam,
#kartyaNev {
    border-radius: 5px;
    padding: 5px;
    border: none;
    width: 100%;
}

#kettozes {
    display: flex;
    gap: 10px;
    width: 100%;
}

#lejarat,
#cvc {
    flex: 1;
    border-radius: 5px;
    padding: 5px;
    border: none;
    width: 100%;
}

#kartyaMentese {
    margin: 10px 0px 15px 0px;
}

.bottomButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.bottomButtons ,button div{
    display: flex;
    text-align: center;
    width: 40%;
    margin: 0 auto;

}

.bottomButtons button{
    background-color: rgb(244, 244, 244);
    border: 1px solid lightgray;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
}



.link {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    background-color: rgb(244, 244, 244);
}

.paymentOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
}

.paymentDt {
    background-color: #C5C7BC;
    border-radius: 18px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    width: 450px;
    padding: 20px;
}

.paymentBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: none;
    color: grey;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    width: 100%;
    border-radius: 20px;
    transform: 0.3s;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.paymentBtn:hover {
    background-color: #C5C7BC;
    transition: 0.5s;
    transform: scale(1.02);
}

.paymentwhite{
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
}

.payment{
    display: flex;
    width: 40vw;
    justify-content: space-between;
    margin: 1rem auto;
    background-color: rgb(244, 244, 244);
    padding: 1rem;
    border-radius: 1rem;
    transition: border-left 0.3s ease;
}

.payment:hover{
    border-left:5px #336699 solid;
}

.payment div{
    display: flex;
}

.payment p{
    display: flex;
    margin: 0 5px 0 1rem;
    align-items: center;
}

.name div{
    display: flex;
    flex-direction: column;
}

.nameDiv{
    margin-top: 1rem;
}

.paymentDivBtn{
    display: flex;
    align-items: center;
}

.paymentButton{
    border: 1px solid lightgray;
    height: 50px;
    transition: all 0.3s ease;
}

.paymentButton:hover{
    background-color: gray;
    color: white;
}

.cartNavbar button{
    transition: all 0.3s ease;
}

.cartNavbar button:focus{
    background-color: black;
    color: white;
}
.backBtn, .purchaseBtn{
    transition: all 0.3s ease;
}

.backBtn:hover, .purchaseBtn:hover{
    background-color: white;
    border: 1px solid black;
}