* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

.cart {
    background:#0D1B2A;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.signUpLog {
    margin: 1%;
        display: flex;
    flex-direction: row;
}

.signUpLog p {
    gap: 0.5rem;
    font-weight: lighter;
    color: white;
    font-style: italic;
    font-weight: 650;
    font-size: 2rem;
}

.signUpLog img {
    margin-bottom: 0;
    filter: brightness(0) invert(1);
}

.cartNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(-180deg, #1a2e4a 0%, #336699 100%);
    padding: 1rem;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}


.cartNavbar button{
    padding-left: 1rem;
    margin: 0 1rem;
    background: linear-gradient(0deg, #1a2e4a 0%, #4293e5 100%); 
    transition: background-color 0.3s ease,
                color 0.3s ease,
                border 0.3s ease;
    border: 2px solid;
}

.cartNavbar button:hover{
    background: linear-gradient(135deg, #1a2e4a 0%, #336699 100%); 
    color: white;
    border: 2px solid black;
}

.foot {
    background: #1B263B;
    padding: 3rem;
    width: 60%;
    border-radius: 2rem;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.foot h2 {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
}


.Cartfooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 1rem 0;
    background:#0D1B2A;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
}
.Cartfooter img {
    filter: brightness(0) invert(1);
}

.Cartfooter li {
    list-style-type: none;
    font-weight: bolder;
}

.Cartfooter ul {
    list-style-type: none;
}

.details {
    display: flex;
    justify-content: center;
    margin: 3rem auto;
}

.adat
#kartyaSzam,    
#kartyaNev {
    border-radius: 5px;
    padding: 5px;
    border: none;
    width: 100%;
    background: #0D1B2A;
    margin-bottom: 1rem;
}

#kettozes {
    display: flex;
    gap: 10px;
    width: 100%;
}

#lejarat,
#cvc {
    flex: 1;
    border-radius: 5px;
    padding: 5px;
    border: none;
    width: 100%;
    background: #0D1B2A;
}

#kartyaMentese {
    margin: 10px 0px 15px 0px;
}

.bottomButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background: #1B263B;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.bottomButtons ,button div{
    display: flex;
    text-align: center;
    width: 40%;
    margin: 0 auto;

}

.bottomButtons .purchaseBtn{
    padding: 0.5rem;
    color: white;
    background: #378ADD;
    transition: transform 0.3s ease,
        background 0.3s ease,
        box-shadow 0.3s ease;
}

.bottomButtons .purchaseBtn:hover{
    transform: translateY(-5px);
    background: #4193e5;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.bottomButtons .backBtn{
    color: white;
    padding: 0.5rem;
    transition: all 0.3s ease;
    background-color: #DC2626;
}

.bottomButtons .backBtn:hover{
    color: rgb(203, 195, 195);
    background-color: #B90C1C; 
}

.link {
    display: flex;
    justify-content: center;
    margin: 0rem auto;
}

.paymentOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
}

.paymentDt {
    background: #1B263B;
    border-radius: 18px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    width: 450px;
    padding: 20px;
    color: white;
}


.paymentBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #378ADD;
    border: none;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
    width: 100%;
    border-radius: 20px;
    transform: 0.3s;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.3s ease,
        background 0.3s ease,
        box-shadow 0.3s ease;
}

.paymentBtn:hover {
    transform: translateY(-5px);
    background: #4193e5;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.paymentwhite{
    background: #1B263B;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
}

.payment{
    display: flex;
    width: 40vw;
    justify-content: space-between;
    margin: 1rem auto;
    background: #336699; 
    padding: 1rem;
    border-radius: 1rem;
    transition: border-left 0.3s ease;
    color: black;
}
.payment img {
    margin-bottom: 0;
}

.payment:hover{
    border-left: 5px solid #3A86FF;
}

.payment div{
    display: flex;
}

.payment p{
    display: flex;
    margin: 0 5px 0 1rem;
    align-items: center;
    color: black;
}

.name div{
    display: flex;
    flex-direction: column;
}

.nameDiv{
    margin-top: 1rem;
}

.paymentDivBtn{
    display: flex;
    align-items: center;
}

.paymentButton{
    color: white;
    padding-left: 1rem;
    transition: all 0.3s ease;
    background-color: #DC2626;
}

.paymentButton:hover{
    color: rgb(203, 195, 195);
    background-color: #B90C1C; 
}

.cartNavbar button{
    transition: all 0.3s ease;
}

.cartNavbar button:focus{
    background: linear-gradient(135deg, #1a2e4a 0%, #336699 100%); 
    color: white;
    border: 2px solid black;
}

@media (max-width:768px){
    .foot{
        width: 95%;
        padding: 1.5rem;
        border-radius: 1rem;
    }
    .Cartfooter {
        flex-direction: column; 
        text-align: center;
        gap: 15px;
    }

    .payment {
        flex-direction: column; 
        align-items: flex-start; 
        gap: 1rem; 
        width: 95%;
    }

    .payment .paymentDivBtn {
        width: 100%;
        justify-content: space-between; 
    }

    .signUpLog p {
        font-size: 1.5rem; 
    }

    .bottomButtons{
        width: 80%;
    }

    
}