body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.profileWhole{
    background-color: #0c4eb1;
    height: 100%;
    width: 100vw;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

/* Logo felül */
.signUpLogo {
    position: absolute;
    top: 25px;
    left: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20%;
}


.signUpLogo img {
    width: 50px;
    height: 50px;
}

/* Profile card */
.profileContainer {
    width: 35%;
    background: #f1f1f1;
    border-radius: 20px;
    padding: 30px;
    margin: 0 auto;
    margin-top: 120px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Name section */
.profileName {
    margin-bottom: 10px;
}

/* Divider line */
.line {
    width: 100%;
    background: #4c6f96;
    border: none;
    margin: 20px 0;
}

/* Button rows */
.editProfile {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #d9d9d9;
    padding: 12px 15px;
    border-radius: 12px;
    margin-top: 2%;
    cursor: pointer;
}

.editProfile img {
    width: 22px;
    height: 22px;
}

.editProfile button {
    border: none;
    background: transparent;
    font-size: 0.95rem;
    cursor: pointer;
}

/* Hover effect */
.editProfile:hover {
    background: #cfcfcf;
    transition: 0.2s;
}

.editingNameDiv{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.editingNameDiv input {
    height: 3rem;
    border-radius: 0.75rem;
    border: solid 1px;
    width: 40%;
}

.editingNameDiv button{
    width: 40%;
}

.editingNameDiv button:hover{
    transition: 1s;
    background-color: black;
    color: #fff;
    border-radius: 0.75rem;
}

.editingPasswordDiv button{
    display: flex;
    margin: 2% auto;
}

.editingPasswordDiv button:hover{
    transition: 1s;
    background-color: black;
    color: #fff;
    border-radius: 0.75rem;
}

.editDiv{
    display: flex;
    justify-content: space-between;
}

.editDiv input{
    height: 3rem;
    border-radius: 0.75rem;
    border: solid 1px;
    width: 40%;
}

.profileBtn{
    margin-left: 3%;
    transition: all 0.3s ease;
}

.profileBtn:hover{
    background-color: black;
    color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 1);
}

@media (max-width: 977px) {
    .profileContainer{
        width: 90%;
        padding: 20px;
        margin-top: 100px;
    }
}