*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.hotelPage {
        background:#0D1B2A;
}

.hotelPage .selectorLogo{
    display: flex;
    list-style-type: none;
}

.hotelPage h1{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: #336699;
    font-weight: 650;
    font-weight: bold;
    font-style: italic;
}

.card p{
    margin: 0;
}

.book{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book button{
    background: linear-gradient(0deg, #1a2e4a 0%, #4293e5 100%); 
    transition: background 0.3s ease,
                transform 0.3s ease;
    border: solid 2px;
}

.book button:hover{
    transform: translateY(-5px);
    background: linear-gradient(180deg, #1a2e4a 0%, #4293e5 100%); 
}

.grayP{
    color: lightgray;
}

.boldP{
    font-weight: 650;
}

.grayLine{
    margin: 1rem 0;
}

.back{
    padding: 1rem;
    margin: 1rem;
    background: linear-gradient(0deg, #1a2e4a 0%, #4293e5 100%); 
    transition: background-color 0.3s ease,
                color 0.3s ease,
                border 0.3s ease;
    border: 2px solid;
}

.back:hover{
    background: linear-gradient(135deg, #1a2e4a 0%, #336699 100%); 
    color: white;
    border: 2px solid black;
}