*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.hotelBookPage h3{
    font-weight: bold;
    margin-left: 2%;
}

.about ,.detail , .amenities {
    margin-left: 2%;
}

.about .detail .amenities, h5{
    font-weight: bold;
}

.about p{
    margin: 2% 0;
    text-align: justify;
}

.grayLineH{
    display: flex;
    justify-content: center;
    width: 95%;
    padding: 1px;
    background-color: lightgray;
}


.detail div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto;
    padding: 10px;
    border-left: 5px solid #336699;
    /* border-bottom: 5px solid #336699; */
    border-radius: 1rem;
    background-color: rgb(244, 244, 244);
    width: 50%;
}

.detail div p{
    margin: 0;
}
