* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.hotelBookPage{
    background:#0D1B2A;
    color: #E0E1DD;
}

.hotelBookPage h3 {

    font-weight: bold;
    margin-left: 2%;
}

.about{
    background: #1B263B;
    padding: 1rem;
    margin: 2rem auto;
    width: 80%;
    border-radius: 2rem;
}



.about .detail .amenities,
h5 {
    font-weight: bold;
}

.about p {
    margin: 2% 0;
    text-align: justify;
}

.grayLineH {
    display: flex;
    justify-content: center;
    width: 95%;
    padding: 1px;
    background: #4193e5;
}

.detail{
        background: #1B263B;
    padding: 1rem;
    margin: 2rem auto;
    width: 80%;
    border-radius: 2rem;
}

.detail div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto;
    padding: 10px;
    border-left: 5px solid #3A86FF;
    /* border-bottom: 5px solid #336699; */
    border-radius: 1rem;
    background: #336699;
    width: 50%;
}

.detail div p {
    margin: 0;
}

.bookNow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% auto 0 auto;
    /* background-color: rgb(244,244,244); */
    padding: 2rem;
    background: #1B263B;
    width: 55%;
    border-radius: 2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    color: white;
}

.bookNow h1 {
    font-weight: bold;
}

.bookNowDiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem ;
}


.bookNowDiv div {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1.5rem;
    width: 50%;
}

.bookNowDiv div input{
    background:#0D1B2A;
    color: white;
    border-color: #0D1B2A;
}

.bookNow h2 {
    font-weight: bold;
}


.bookNow input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid;
}

.bookNowBtn {
    padding: 0.5rem;
    margin: 1rem 0;
    background: #378ADD;
    transition: transform 0.3s ease,
        background 0.3s ease,
        box-shadow 0.3s ease;
}

.bookNowBtn:hover {
    transform: translateY(-5px);
    background: #4193e5;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.info {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

.info p {
    color: white;
}

.bookPrice{
    padding: 1rem;
    background: #0D1B2A;
    display: flex;
    border-radius: 1.5rem;
    flex-direction: column;
    align-items: end;
}

.total{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.linePrice{
    padding: 1px;
    width: 100%;
    margin: 0.5rem auto;
    background: #336699;
}

.custem-width{
    width: 50%;
}

.bookDivRight{
    margin-right: 1rem;
}

.bookDivLeft{
    margin-left: 1rem;
}

@media (max-width: 710px) {

    .custem-width   {
    width: 90%;
   }
   .bookNow{
    width: 90%;
   }

   .bookNow .bookNowDiv div{
     width: 100%;
     margin: 0;
   }

   .bookNowDiv{
    display: flex;
    flex-direction: column;
   }

   .detail div{
    width: 70%;
   }

}
